body{
    background-color: rgba(233, 179, 169, 0.932);
    margin: 0;
}
.navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
}
#img{
    width: 85px;
}
#img2{
    width: 30px;
    align-items: center;
    margin-right: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 15px;
    width: 50%;
    
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:4px 12px
}
nav a:hover {
    font-size: 1.3em;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    color: rgb(37, 73, 192);
    border: 2px solid rgb(46, 65, 173);
    box-shadow: 0 0 10px 3px rgb(6, 67, 124);
    border-radius: 0.6rem;
}
#profile{
    margin-left: 182%;
}    
#profile a{
    font-size: 1.3em;
    text-decoration: none;
    color: azure;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}
#profile a:hover {
    font-size: 1.3em; 
    background-color: transparent; 
    color: azure; 
    border: none;
    box-shadow: none; 
}
#field{
    align-items: center;
}
.lable{
    padding: 0 10px;
  transition: all 300ms;
  font-size: 12px;
  color: #8b8e98;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  top: 14px;
  position: relative;
  left: 15px;
}
.input{
    width: auto;
    height: 50px;
    text-indent: 9px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #21262e;
    transition: all 0.3s;
    caret-color: #d17842;
    color: #aeaeae;
}
.input:focus{
    border: 1px solid #d17842;
}
.input::placeholder{
    color: #8b8e98;
}
.input:focus::placeholder{
    color: #d17842;
}
#divied{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
#divied input{
    width: 100%;
    height: 50px;
    text-indent: 9px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #21262e;
    transition: all 0.3s;
    caret-color: #d17842;
    color: #aeaeae;
}
#divied input:focus{
    border: 1px solid #d17842;
}
#divied input::placeholder{
    color: #8b8e98;
}
#divied input:focus::placeholder{
    color: #d17842;
}
#divied input[type="submit"]{
    width: 100%;
    height: 50px;
    text-indent: 9px;
    border-radius: 15px;
    outline: none;
    background-color: #d17842;
    border: 1px solid #d17842;
    transition: all 0.3s;
    caret-color: #d17842;
    color: #aeaeae;
}
#divied input[type="submit"]:hover{
    background-color: #d17842;
    border: 1px solid #d17842;
    color: #aeaeae;
}
#divied input[type="submit"]:focus{
    background-color: #d17842;
    border: 1px solid #d17842;
    color: #aeaeae;
}
