body{
    background-color: rgba(54, 10, 2, 0.932);
    margin: 0;
}
.navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
}
#img{
    width: 85px;
}
#img2{
    width: 30px;
    align-items: center;
    margin-right: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 15px;
    width: 50%;
    
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:4px 12px
}
nav a:hover {
    font-size: 1.3em;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    color: rgb(37, 73, 192);
    border: 2px solid rgb(46, 65, 173);
    box-shadow: 0 0 10px 3px rgb(6, 67, 124);
    border-radius: 0.6rem;
}
#profile{
    margin-left: 182%;
}    
#profile a{
    font-size: 1.3em;
    text-decoration: none;
    color: azure;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}
#profile a:hover {
    font-size: 1.3em; 
    background-color: transparent; 
    color: azure; 
    border: none;
    box-shadow: none; 
}

