body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff63;

}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.add-button{
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.edit-button{
    background-color: #00b81c;
    border: none;
    padding: 10px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button{
    background-color: #ff0000;
    border: none;
    padding: 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}
