body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background: url('../UserDashboard/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    padding: 30px;
}

hr{
    margin-right: 25px;
    
}
.logdetails{
    padding:8px;
    background-color: #c8c8c8b8;
    margin-bottom: 50px;
    text-align: center;
}

input,label{  
    margin-left:70px;
    width:100%;
    margin-right:175px;
    width:50%;
}



.box{
    border-radius: 15px;
    border: 3px solid rgb(145, 141, 141);
    margin-bottom: 50px;
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 0%;
    background-color: #c8c8c8b8;
    padding: 25px;

}

.button:hover{
    background-color: gray;
    cursor:pointer;
}

.button{
    border-radius: 15px;
    border: 1px solid rgb(141, 143, 145);
    padding: 8px;
    background-color: rgb(30, 161, 255);
    margin-bottom: 10px;
}

h3{
    margin-left: 25px;
}

        /*This is TABLE CSS*/
           /* body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;

            }*/

table {
width: 100%;
border-collapse: separate;
border-spacing: 0;
margin: 20px 0;
text-align: center;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}

th, td {
padding: 10px;
border: 1px solid #ddd;

}
td{
    text-align:left;
}

th {
background-color: #f4f4f4;
}

td{
background-color:#f4f4f4 ;
}

.box .add-btn {
    background-color: rgb(12, 134, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn {
background-color: green;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.delete-btn {
background-color: red;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.update-btn a, .delete-btn a {
color: white;
text-decoration: none;
}

.update-btn:hover, .delete-btn:hover,.add-btn{
opacity: 0.8;
}

.button-container {
display: flex;
justify-content: center;
margin-top: 20px;
}
.anchorBtn{
    
}


