body{                       /*background Styling*/
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background: url('../UserDashboard/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    padding: 30px;
}
/*Table css*/

.box{
    border-radius: 15px;
    border: 3px solid rgb(145, 141, 141);
    margin-bottom: 50px;
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 0%;
    background-color: #c8c8c8b8;
    padding: 25px;

}

h3{
    margin-left: 25px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;

}
td{
    text-align:left;
}

th {
    background-color: #f4f4f4;
}

td{
    background-color:#f4f4f4 ;
}

.add-btn{
    background-color: rgb(12, 134, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(0, 8, 255);
    cursor:pointer;
}
.update-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn a, .delete-btn a {     /*styling anchor tag*/
    color: white;
    text-decoration: none;
}

.update-btn:hover, .delete-btn:hover{
    opacity: 0.8;
}





