.body1234 {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ccc;
    background-image: url("../PaymentReciept/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:120vh;
}
.title{
    background-color: transparent;
    margin-right: 420px;
    margin-left: 390px;
    margin-top: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 0px;
    border-bottom: 1px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;

}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
}
.main-section {
    display: flex;
    padding: 0px;
    border: 5px solid white;
    border-top: 0px;
    margin-bottom: 0px;
    margin-left: 390px;
    margin-right: 420px;
    margin-top: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 0px;
  
}
.booking-form {
    flex: 2;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    background-color: #f9f9f9c0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-right: 0px;
    margin-left: 0px;
    
}
.info{
    font-weight:bolder;
    gap: 20px;
    font-size: larger;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
  
}
label {
    display: block;
    margin-bottom: 5px;
    width: 200px;
    padding: 0px;  

}

.actions {
    margin-top: 20px;
    margin-right: 10px;       
}
.actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.actions .confirm {
    background-color: #333;
    color: white;
}
.actions .back {
    background-color: #aca9a9;
}
