.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
}
.title-main{
    background-color: rgba(255, 255, 255, 0.478);
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-top: 5px solid white;
    border-right: 5px solid white; 
    border-left: 5px solid white;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: black;
    margin-top: 10px;
}
.title-sub{
    background-color: #ccc;
    margin-bottom: 10px;
}
.main-section {
    display: flex;
    padding: 20px;
    border: 5px solid white;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 250px;

  
}
.image-section {
    flex: 1;
    height: 400px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    
    
}
.booking-form {
    flex: 2;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    height: 400px;


}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width:100%;
    border-radius: 5px;
}

.form-group {
    flex: 1 1 45%;
}

.actions {
    margin-top: 20px;
    margin-right: 10px;       
}
.actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.actions .confirm {
    background-color: #333;
    color: white;
}
.actions .confirm:hover{
    background-color: rgb(90, 88, 88);
    
}
.actions .back {
    background-color: #ccc;
}
.actions .back:hover{
    background-color: #5a6268;
}
